<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Example</title>
    <link rel="stylesheet" href="public/assets/css/normalize.css" />
    <link rel="stylesheet" href="public/assets/css/style.css" />
</head>
<body>
    <h1><a href="/">Example</a></h1>
    <nav>
        <ul class="nav">
            <li><a href="/" class="button">Home</a></li>
            <li><a href="/" class="button">Link1</a></li>
            <li><a href="/" class="button">Link2</a></li>
            <li><a href="/" class="button">Link3</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>
